@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "LobsterTwo";
  src: url("./LobsterTwo-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Jost";
  src: url("./Jost-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Jost";
  src: url("./Jost-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Jost";
  src: url("./Jost-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
